<picture>
  <source
    type="image/webp"
    media="(min-width: 480px)"
    data-srcset="https://{{ .cacheDomain }}/{{ .item.file.key | safeURL }}/{{ (time .item.updatedAt).Unix }}/{{ .transf | safeURL }}/{{ .item.slug | safeURL }}.webp,
      https://{{ .cacheDomain }}/{{ .item.file.key | safeURL }}/{{ (time .item.updatedAt).Unix }}/{{ .transf | safeURL }},dpr_2/{{ .item.slug | safeURL }}.webp 2x,
      https://{{ .cacheDomain }}/{{ .item.file.key | safeURL }}/{{ (time .item.updatedAt).Unix }}/{{ .transf | safeURL }},dpr_3/{{ .item.slug | safeURL }}.webp 3x,
      https://{{ .cacheDomain }}/{{ .item.file.key | safeURL }}/{{ (time .item.updatedAt).Unix }}/{{ .transf | safeURL }},dpr_4/{{ .item.slug | safeURL }}.webp 4x"
    data-aspectratio="{{ .width }}/{{ .height }}"
  >
  <source
    type="image/webp"
    media="(max-width: 479px)"
    data-srcset="https://{{ .cacheDomain }}/{{ .item.file.key | safeURL }}/{{ (time .item.updatedAt).Unix }}/w_500/{{ .item.slug | safeURL }}.webp,
      https://{{ .cacheDomain }}/{{ .item.file.key | safeURL }}/{{ (time .item.updatedAt).Unix }}/w_500,dpr_2/{{ .item.slug | safeURL }}.webp 2x,
      https://{{ .cacheDomain }}/{{ .item.file.key | safeURL }}/{{ (time .item.updatedAt).Unix }}/w_500,dpr_3/{{ .item.slug | safeURL }}.webp 3x,
      https://{{ .cacheDomain }}/{{ .item.file.key | safeURL }}/{{ (time .item.updatedAt).Unix }}/w_500,dpr_4/{{ .item.slug | safeURL }}.webp 4x"
    data-aspectratio="{{ .width }}/{{ .height }}"
  >
  <source
    type="image/jpeg"
    media="(min-width: 480px)"
    data-srcset="https://{{ .cacheDomain }}/{{ .item.file.key | safeURL }}/{{ (time .item.updatedAt).Unix }}/{{ .transf | safeURL }}/{{ .item.slug | safeURL }}.jpg,
      https://{{ .cacheDomain }}/{{ .item.file.key | safeURL }}/{{ (time .item.updatedAt).Unix }}/{{ .transf | safeURL }},dpr_2/{{ .item.slug | safeURL }}.jpg 2x,
      https://{{ .cacheDomain }}/{{ .item.file.key | safeURL }}/{{ (time .item.updatedAt).Unix }}/{{ .transf | safeURL }},dpr_3/{{ .item.slug | safeURL }}.jpg 3x,
      https://{{ .cacheDomain }}/{{ .item.file.key | safeURL }}/{{ (time .item.updatedAt).Unix }}/{{ .transf | safeURL }},dpr_4/{{ .item.slug | safeURL }}.jpg 4x"
    data-aspectratio="{{ .width }}/{{ .height }}"
  >
  <source
    type="image/jpeg"
    media="(max-width: 479px)"
    data-srcset="https://{{ .cacheDomain }}/{{ .item.file.key | safeURL }}/{{ (time .item.updatedAt).Unix }}/w_500/{{ .item.slug | safeURL }}.jpg,
      https://{{ .cacheDomain }}/{{ .item.file.key | safeURL }}/{{ (time .item.updatedAt).Unix }}/w_500,dpr_2/{{ .item.slug | safeURL }}.jpg 2x,
      https://{{ .cacheDomain }}/{{ .item.file.key | safeURL }}/{{ (time .item.updatedAt).Unix }}/w_500,dpr_3/{{ .item.slug | safeURL }}.jpg 3x,
      https://{{ .cacheDomain }}/{{ .item.file.key | safeURL }}/{{ (time .item.updatedAt).Unix }}/w_500,dpr_4/{{ .item.slug | safeURL }}.jpg 4x"
    data-aspectratio="{{ .width }}/{{ .height }}"
  >
  <img
    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
    data-src="https://{{ .cacheDomain }}/{{ .item.file.key | safeURL }}/{{ (time .item.updatedAt).Unix }}/{{ .transf | safeURL }}/{{ .item.slug | safeURL }}.jpg"
    class="lazyload"
    data-aspectratio="{{ .width }}/{{ .height }}"
    data-sizes="auto"
    alt="{{ .item.name }}"
    width="{{ .width }}"
    height="{{ .height }}"
  >
</picture>
