{{ define "main" }}

  {{ if not .IsHome }}
    {{ partial "album-title.html" . }}
  {{ end }}

  <div class="album-grid">
    {{ range .Pages.ByWeight }}
      <div class="album-grid-item">
        <a href="{{ .Permalink }}">
          {{ $cover := index (.Params.Covers) 0 }}
          {{ if $cover }}
            {{ partial "thumbnail.html" (dict "item" $cover "cacheDomain" $.Site.Params.cacheDomain "transf" "w_272,h_181,c_crop" "width" 272 "height" 181 ) }}
          {{ else }}
            <img src="https://placeimg.com/272/181/arch/grayscale/{{ .Slug }}" width="272" height="181">
          {{ end }}
        </a>
        <div class="album-info">
          <h2><a href="{{ .Permalink }}">{{ .Name }}</a></h2>
          <div class="album-description">{{ .Summary | replaceRE "\n+" "<br/>" | safeHTML }}</div>
        </div>
      </div>
    {{ end }}
  </div>
{{ end }}
