{{ define "main" }}
  gallery/single.html
  <article>
    <h2>{{ .Title }}</h2>
    {{ .Content }}
    {{ $dataJ := getJSON $.Site.Params.api "albums/" .Params.albumId "/content" }}
    <div class="photo-grid" data-masonry='{ "itemSelector": ".photo-grid-item", "columnWidth": 250, "gutter": 5 }'>
    {{ range $dataJ }}
      {{- $width := 250 -}}
      {{- $height := math.Round (div (mul $width .height) .width) -}}
      <div class="photo-grid-item">
        {{ partial "thumbnail.html" (dict "item" . "cacheDomain" $.Site.Params.cacheDomain "transf" "w_250" "width" $width "height" $height) }}
      </div>
    {{ end }}
    </div>
  </article>
{{ end }}
