.site-header
  text-align: center

  &.is-home
    margin-bottom: 2em
    margin-top: 2em

  .text
    .site-tagline
      color: inherit
      font-size: 10px
      letter-spacing: 2px
      margin-bottom: 1.5em
      text-transform: uppercase

    .site-title
      font-size: 36px
      font-weight: $font-weight
      letter-spacing: 4px
      line-height: 1.5
      text-transform: uppercase

.album-header
  margin-bottom: 2em
  text-align: center

  .album-description
    font-size: 1.2em
    line-height: 1.5em
    margin: 0 auto 1.5em
    min-width: 360px
    width: 70%

.album-info
  text-align: center

  h2
    margin-bottom: .5em
    margin-top: .5em

  .album-description
    font-size: 1.1em
    line-height: 1.2em

    p
      line-height: 1em
      margin: 0

.site-footer
  .copyright
    text-align: right

.message
  max-width: 470px
  text-align: center
  width: 100%

  h1
    font-size: 2rem
    margin-bottom: 2rem
    margin-top: 2rem

  p
    font-size: 1.1em
    line-height: 1.2em
