{{ $normalize := resources.Get "css/vendor/normalize-8.0.1.css" | toCSS (dict "targetPath" "css/normalize.css") }}
{{ $app := resources.Get (printf "sass/%s.sass" .Site.Params.themeColor) | resources.ExecuteAsTemplate "app.scss" . | toCSS (dict "targetPath" "css/app.css") }}
{{ $css := slice $normalize $app | resources.Concat "css/bundle.css" | postCSS (dict "config" "postcss.config.js") | minify | fingerprint "sha512" }}

<link href="https://fonts.googleapis.com/css?family=Lato:400,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ $css.Permalink }}" integrity="{{ $css.Data.Integrity }}"/>
{{ if and (eq .Kind "page") (eq .Type "gallery") (eq .Params.contentType "album" ) }}
  {{ $pswpMain := resources.Get "sass/vendor/photoswipe-4.1.3/main.scss" | toCSS (dict "targetPath" "pswp/pswpMain.css") }}
  {{ $pswpUI := resources.Get "sass/vendor/photoswipe-4.1.3/default-skin/default-skin.scss" | toCSS (dict "targetPath" "pswp/pswpUI.css") }}
  {{ $pswp := slice $pswpMain $pswpUI | resources.Concat "pswp/pswp.css" | postCSS (dict "config" "postcss.config.js") | minify | fingerprint "sha512" }}
  <link rel="stylesheet" href="{{ $pswp.Permalink }}" integrity="{{ $pswp.Data.Integrity }}"/>
{{ end }}
